<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <title>Welcome Doctor</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #f4511e !important;" >
            <div class="container-fluid">
              <a class="navbar-brand" href="javascript:void(0)">Logo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Patients</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Appointments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Appointments For The Day</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div
            class="container p-5 my-5 text-white"
            style="background-color: #f4511e"
        >
            <h1>Welcome Doctor</h1>
            <h2>Apoointment Booked</h2>
            <p th:text= " 'Today is '+ ${currDateTime}  " />
        </div>
    </body>

</html>
